[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = "pytest"
jupyter = "jupyter notebook"
pytest = "python -m pytest -vv"

[packages]
tqdm = "*"
sentencepiece = "*"
pyyaml = "*"
gensim = "*"
tensorboardX = "*"
torch = "==1.1.0"
nltk = "*"
"fastText" = {git = "https://github.com/facebookresearch/fastText.git", ref = "master"}
"kenlm" = {file = "https://github.com/kpu/kenlm/archive/master.zip"}

[dev-packages]
flake8 = "*"
mypy = "*"
jupyter = "*"
pytest = "*"

[requires]
python_version = "3.7.0"
