[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = "pytest"
jupyter = "jupyter notebook"
pytest = "python -m pytest -vv"

[packages]
tqdm = "*"
sentencepiece = "*"
pillow = "*"
pyyaml = "*"
gensim = "*"
tensorboardX = "*"
torch = "==1.1.0"
future = "*"
nltk = "*"

[dev-packages]
flake8 = "*"
mypy = "*"
jupyter = "*"
pytest = "*"
v = {editable = true,version = "*"}

[requires]
python_version = "3.7.0"
